@import '../../../styles/module/index';

.retour {
    display: flex;
    align-items: center;
    text-decoration: none;
    svg {
        padding-right: 1rem;
    }
}

.item {
    display: flex;
    margin: 2rem;
    padding: 2rem;
    text-decoration: none;
    align-items: center;
}

.description {
    margin: 2rem;
    padding: 2rem;
}

.image {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    margin-right: 2rem;
}

.title{
    color: black;
    text-decoration: none;
}

.date{
    color: $primary;
}