@import '../../../styles/module/index';

.item {
    display: flex;
    margin: 2rem;
    border: black solid 1px;
    border-radius: 10px;
    padding: 2rem;
    transition: background-color 200ms ease-in-out;
    text-decoration: none;
}

.item:hover {
    background-color: #F2F8F7;
}

.image {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    margin-right: 2rem;
}

.title{
    color: black;
    text-decoration: none;
}

.date{
    color: $primary;
}